---
layout: default
---
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<!-- Body center content -->
			<div class="span12" id="content_left">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span12">
								<div>
									<div>
										<section>
											<h3><a href="{{ page.url }}">{{page.title}}</a></h3>
											<div>
												{{content}}
											</div>
										</section>
									</div>
									<div class="pull-right">
										<pre>Date:{{page.date|date:"%Y-%m-%d"}}</pre>
									</div>
								</div>
							<!--<div class="pagination pull-right">
								<ul>
									<li><a
										href="#">Prev</a></li>
									<li><a
										href="#">Next</a></li>
								</ul>
							</div>-->
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>