---
layout: default
---
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<!-- Body center content -->
			<div class="span12" id="content_left">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span12"  id="postcontent">
								<div>
									<div>
										<section>
											<h3><a href="{{ page.url }}">{{page.title}}</a></h3>
											<div>
												{{content}}
											</div>
										</section>
									</div>
									<div class="pull-right">
										<pre>Date:{{page.date|date:"%Y-%m-%d"}}</pre>
									</div>
								</div>
							<!--<div class="pagination pull-right">
								<ul>
									<li><a
										href="#">Prev</a></li>
									<li><a
										href="#">Next</a></li>
								</ul>
							</div>-->
						</div>
					</div>
					<div class="row-fluid">
						<!-- Duoshuo Comment BEGIN -->
						<div class="ds-thread" class="span12"></div>
						<script type="text/javascript">
						var duoshuoQuery = {short_name:"life4code"};
							(function() {
								var ds = document.createElement('script');
								ds.type = 'text/javascript';ds.async = true;
								ds.src = 'http://static.duoshuo.com/embed.js';
								ds.charset = 'UTF-8';
								(document.getElementsByTagName('head')[0] 
								|| document.getElementsByTagName('body')[0]).appendChild(ds);
							})();
						</script>
						<!-- Duoshuo Comment END -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>